<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /pago_admision/dist
   RewriteRule /pago_admision/dist/index\.html$ - [L]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule . /pago_admision/dist/index.html [L]
</IfModule>
